.div-content{
    background: white;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
    padding: 20px 25px !important;
}

.form-group{
	margin-bottom: 15px;
}

.form-xs{
	height: 30px;
    font-size: 13px;
    padding: 5px 10px;
}

.label-xs{
	height: 30px;
    font-size: 13px;
    padding: 5px 10px 5px 15px;
}

.keterangan-form{
    color: red;
    font-size: 11px;
    padding: 0;
    margin-top: 5px;
}

@media (max-width: 991px){
	.df-logo {
	    font-size: 17px !important;
	}
}